.grouplist-item-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid grey;
    gap: 18px;
    max-width: 600px;
}
.grouplist-item-text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
}
.grouplist-item-text-container > * {
    margin: 0;
}
.grouplist-item-container:hover {
    cursor: pointer;
}
.grouplist-img {
    min-width: 200px;
    max-width: 200px;
    height: 200px;
}
.grouplist-item-link {
    text-decoration: none;
}
.grouplist-img-hover{
    opacity: .7;
}
.grouplist-name-hover{
    text-decoration: underline;
}
.grouplist-container-hover{
    /* background-color: gray; */
}
