.grouplist-item-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid grey;
    gap: 18px;
}
.grouplist-item-container:hover {
    cursor: pointer;
}
.grouplist-item-container > img {
    width: 200px;
    height: 200px;
}
.grouplist-item-link {
    text-decoration: none;
}
