
.group-details-top-div {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    padding-top: 20px;
}
.group-details-top-image-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group-details-top-image-div > img {
    width: 500px;
    height: 300px;
}

.group-details-top-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.group-details-top-text-container > button {
    background-color: red;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px ;
}
.group-details-top-text-container > button:hover {
    cursor: pointer;
}
.group-details-events-div {
    background-color: #CDCDCD;
    margin-bottom: 0px;
}
