
.group-details-top-div {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.group-details-top-image-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group-details-top-image-div > img {
    width: 500px;
    height: 300px;
}
.group-details-top-image-div > a{
  color: #ff1154;
}
#testing{
  background-color: #B2D8D8;
  box-shadow: none;
  color: black;
  font-weight: 800;
}
#testing2{
  /* background-color: #B2D8D8; */
  box-shadow: none;
  color: black;
  font-weight: 800;
}
#testing2:hover{
  box-shadow: 2px 2px 2px black;
  /* background-color: #ff1154; */
}
#testing:hover{
  box-shadow: 2px 2px 2px black;
  background-color: #ff1154;
}
.group-details-top-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.join-group-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-group-button > button {
    background-color: #ff1154;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}
.join-group-button > button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    background-color: whitesmoke;
}
.group-details-events-div {
    border-top: 2px solid gray;
    background-color: whitesmoke;
    margin-bottom: 0px;
    padding-bottom: 20px;
    min-height: 300px;
}
.organizer-group-buttons-container{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.organizer-group-buttons-container > *{
  background-color: #B2D8D8;
  min-height: 30px;
  min-width: 100px;
}
.organizer-group-buttons-container > *:hover{
  cursor: pointer;
  background-color: whitesmoke;
  box-shadow: 3px 2px 2px black;
}
/* for delete modal */
.delete-modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
  }

  .delete-modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 13px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
  }


  .delete-modal-buttons-container {
    display: flex;
    flex-direction: column;
  }

  .delete-modal-confirm-button {
    background-color: #B2D8D8;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    /* box-shadow: 2px 2px 2px black; */
    margin-bottom: 10px;
  }

  .delete-modal-revert-button {

    margin-right: 10px;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    cursor: pointer;
    /* box-shadow: 2px 2px 2px black; */
    margin-bottom: 10px;
  }
