
.group-details-top-div {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    padding-top: 20px;
}
.group-details-top-image-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group-details-top-image-div > img {
    width: 500px;
    height: 300px;
}

.group-details-top-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.group-details-top-text-container > button {
    background-color: red;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px ;
}
.group-details-top-text-container > button:hover {
    cursor: pointer;
}
.group-details-events-div {
    border-top: 2px solid gray;
    background-color: whitesmoke;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

/* for delete modal */
.delete-modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
  }

  .delete-modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 13px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
  }


  .delete-modal-buttons-container {
    display: flex;
    flex-direction: column;
  }

  .delete-modal-confirm-button {
    background: #ff1154;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
  }

  .delete-modal-revert-button {
    /* background: #ff1154; */
    /* color: white; */
    margin-right: 10px;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
  }
