/* .event-details-main-div {
    padding-left: 100px;
    padding-right: 100px;
} */

.event-details-top-div {
    border: 3px solid rebeccapurple;
    /* background-color: aqua; */
    padding-left: 100px;
    padding-right: 100px;
}
.event-details-bottom-div {
    background-color: #CDCDCD;
    padding-left: 100px;
    padding-right: 100px;
}
.event-details-bottom-upper-div{
    border: 2px solid red;
    display: flex;
    gap: 15px;
    border-radius: 12px;
    padding: 5px;
}
.event-details-description-div{
    border: 2px solid blue;
}

.event-details-bottom-upper-div > img {
    width: 400px;
    max-width: 500px;
    max-height: 400px;
}

.event-details-group-and-location-container {
    border: 2px solid yellow;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.event-details-group-info-container{
    border: 2px solid seagreen;
    display: flex;
    gap: 5px;
    background-color: white;
    border-radius: 12px;
    /* padding: 5px; */
    width: 100%;
}
.event-details-group-info-container > img {
    max-width: 200px;
}
.event-details-event-info-container {
    border: 2px solid saddlebrown;
    background-color: white;
    border-radius: 12px;
    width: 100%;
}
/* FOR THE DELETE EVENT MODAL */
.delete-modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
  }

  .delete-modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 13px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
  }


  .delete-modal-buttons-container {
    display: flex;
    flex-direction: column;
  }

  .delete-modal-confirm-button {
    background: #ff1154;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
  }

  .delete-modal-revert-button {
    /* background: #ff1154; */
    /* color: white; */
    margin-right: 10px;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
  }
